@model MonicaMatricula.Dominio.Aluno

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Você quer realmente excluir este Aluno?</h3>
<fieldset>
    <legend>Dados do Aluno</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mae)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mae)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataNascimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataNascimento)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Cancelar", "Index")
    </p>
}
